name: documentation

on: workflow_dispatch

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: pip
      - name: Install the extension
        run: pip install --group dev --group docs .
      - name: Build the docs
        run: |
          sphinx-build doc _build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
